@page
@model ToolGood.FlowVision.Pages.FlowProject.Apps.Flow.CustomNodeEditModel
@{
    Layout = "~/Pages/Shared/_Layout_Edit.cshtml";
}
@section css{
    <style>
        .layui-table td, .layui-table th { padding: 3px; }
        .layui-form-item .layui-form-checkbox[lay-skin=primary] { margin-top: 5px; margin-bottom: 5px; }
        .editor { top: 0; bottom: 0; left: 0; width: 100%; height: 100%; }
        .ace_text-layer .ace_rightAlignedText .ace-cjk { font-size: 12px !important; }
        div.layui-input.editor-div { padding: 0; height: initial; }
        div.layui-input.editor-div2 { padding: 0; display: inline-block; width: calc(100% - 38px); height: initial }
    </style>
}
<div style="overflow-x:hidden;background-color:#f3f3f4;height: 100%;">
    <form id="edit-form" style="height: 100%;">
        <div class="layui-form layui-form-sm" lay-filter="form" style="padding: 20px 30px 0 0;">
            <div class="layui-form-item-sm">
                <label class="layui-form-label-sm">id</label>
                <div class="layui-input-block-sm">
                    <input type="text" class="layui-input layui-input-sm" id="txt_id" name="id" readonly>
                </div>
            </div>

            <div class="layui-form-item-sm">
                <label class="layui-form-label-sm">标签<span class="red"> *</span></label>
                <div class="layui-input-block-sm">
                    <input type="text" class="layui-input layui-input-sm" id="txt_label" name="label" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item-sm">
                <label class="layui-form-label-sm">检测条件</label>
                <div class="layui-input-block-sm">
                    <input type="hidden" id="txt_checkFormula" name="checkFormula" />
                    <div class="layui-input editor-div" style="margin-bottom: 3px; ">
                        <div id="txt_checkFormula-editor" class="editor"> </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item-sm">
                <label class="layui-form-label-sm">js脚本</label>
                <div class="layui-input-block-sm">
                    <input type="hidden" id="txt_script" name="script" />
                    <div class="layui-input editor-div">
                        <div id="txt_script-editor" class="editor"> </div>
                    </div>
                    <span>
                        注：
                        <span style="color:blue">getDatas()</span> 获取附带数据,string类型；
                        <span style="color:blue">hasKey(参数名)</span>  判断参数名是否存在；
                        <span style="color:blue">getValue(参数名)</span>  获取参数；
                        <span style="color:blue">setValue(参数名,值)</span> 设置参数；
                        <span style="color:blue">error(错误信息)</span> 设置错误。
                    </span>
                </div>
            </div>
            <div class="layui-form-item-sm">
                <label class="layui-form-label-sm">备注</label>
                <div class="layui-input-block-sm">
                    <textarea class="layui-textarea" id="txt_comment" name="comment" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="layui-form-item-sm" id="modifyInfo" style="display:none;">
                <label class="layui-form-label-sm">编辑于</label>
                <div class="layui-input-block-sm" style="line-height: 30px;">
                    <span id="modifyText"></span>
                </div>
            </div>
            <div class="layui-form-ite-smm" style="text-align:center;padding-left: 30px;">
                <button pass-edit="@Model.ButtonPass" type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="save(this,true);"> &nbsp;&nbsp; 提 交 &nbsp;&nbsp; </button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" onclick="closeWindow();"> &nbsp;&nbsp; 关 闭 &nbsp;&nbsp; </button>
            </div>
        </div>
        <div style="height:5px;"></div>
    </form>
</div>
@section js{
    <script src="/_/inputcontrol/toolgood.algorithm.js"></script>
    <script src="/_/inputcontrol/ace/ace.js"></script>
    <script src="/_/inputcontrol/ace/ext-language_tools.js"></script>
    <script src="/_/inputcontrol/AceKeywords.js?pid=@(Model.ProjectId)&appid=@(Model.AppId)"></script>
    <script src="/_/inputcontrol/createeditor.js"></script>

    <script>
        $(function () {
            var node = top.window.getCurrCell();
            $("#txt_id").val(node.id);
            $("#txt_label").val(node.attr().text.text);
            if (!node.data.comment) {
                node.data.comment = "";
            }
            $("#txt_comment").val(node.data.comment);
            $("#txt_checkFormula").val(node.data.checkFormula);
            $("#txt_script").val(node.data.script);

            if (node.data && node.data.modifyDate && node.data.modifyUser) {
                $("#modifyText").text(node.data.modifyDate + ", " + node.data.modifyUser)
                $("#modifyInfo").show();
            }

            createEditor("txt_checkFormula-editor", "txt_checkFormula")
            createjsEditor("txt_script-editor", "txt_script")
        })
        $(window).keydown(function (e) {
            if (e.keyCode == 83 && e.ctrlKey) {
                e.preventDefault();
                save(null, false);
                top.window.saveGraph();
                return false;
            }
        });
        function save(obj, isclose) {
            var data = $("#edit-form").serializeJson();
            if (data["label"] == "") { top.layer.alert("请输入标签！"); return; }

            var node = top.window.getCurrCell();
            node.setLabel(data["label"]);
            node.data.comment = data.comment;

            node.data.script = data.script;
            node.data.checkFormula = data.checkFormula;
            var now = new Date();
            node.data.modifyDate = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDay() + " " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
            node.data.modifyUser = "@Model.MemberDto.Name";

            top.window.saveGraph();
            if (isclose) { closeWindow(); }
        }
    </script>
}